@media all and (max-width: 1024px) {
    main {
        .block {
            .has-sides {
                display: block;
                .right-side {
                    width: 100%;
                }
                .left-side {
                    .subscribe {
                        margin-top: 50px;
                    }
                }
                .slider {
                    margin: 0 auto;
                }
            }
            .inside-paper {
                .container {
                    .has-sides {
                        display: block;
                    }
                    .left {
                        margin-top: 50px;
                    }
                }
            }
            .grid {
                .grid-container {
                    .grid-item {
                        width: 100%;
                    }
                    grid-template-columns: auto auto;
                }
            }
        }
    }
    .left-side {
        &.col-md-4 {
            width: 100%;
        }
    }
}

@media all and (max-width: 768px) {
    header.scrolled {
        .container-fluid.d-flex {
            display: block !important;
        }
    }
    header {
        .container-fluid.d-flex {
            display: block !important;
        }
        .logo {
            margin-right: 15px;
        }
    }
    .has-sides {
        .slider {
            .slick-side {
                .slide-content {
                    bottom: 8px;
                    word-break: break-word;
                    h2 {
                        font-size: 20px;
                    }
                }
            }
        }
    }
    main {
        .block {
            .has-sides {
                display: block;
                .right-side {
                    .grid-container {
                        -ms-grid-columns: auto;
                        grid-template-columns: auto;
                        .grid-item {
                            width: 100%;
                        }
                    }
                }
                .left-side {
                    >div {
                        margin-top: 50px;
                    }
                }
            }
            .main-post__content {
                bottom: 30%;
            }
            .progress-bar {
                top: 87%;
            }
            .carousel {
                width: auto;
                height: 500px;
            }
            .two-columns {
                display: block;
            }
            .lastest {
                .container {
                    display: block;
                    .left {
                        margin-top: 25px;
                    }
                }
            }
            .col-md-8 {
                width: 100%;
            }
            .col-md-4 {
                width: 100%;
            }
            .archives {
                padding-top: 115px;
                .grid-container {
                    -ms-grid-columns: auto;
                    grid-template-columns: auto;
                    figure {
                        width: auto;
                    }
                }
            }
            .contact-us {
                display: block;
                padding-top: 100px;
                .contact-form {
                    margin-left: 0;
                    .fields {
                        display: block;
                        .input {
                            width: 100%;
                            margin-right: 0;
                        }
                        .big-field {
                            margin-right: 0;
                            .input {
                                width: 100%;
                            }
                        }
                    }
                }
            }
            .sign-in {
                .sign-body {
                    width: auto;
                    padding: 0 20px;
                    .sign-forms {
                        width: auto;
                        .input {
                            width: 100%;
                        }
                        .btn {
                            width: 100%;
                        }
                    }
                }
            }
            .grid {
                padding-top: 50px;
                .grid-container {
                    -ms-grid-columns: auto;
                    grid-template-columns: auto;
                    .grid-item {
                        width: 100%;
                    }
                }
            }
            .inside-paper {
                padding: 80px 0;
                .container {
                    .has-sides {
                        display: block;
                    }
                    .right {
                        .paper {
                            .news-details {
                                h4 {
                                    padding-bottom: 15px;
                                }
                                p {
                                    width: 365px;
                                    font-size: 15px;
                                    line-height: 40px;
                                }
                            }
                        }
                    }
                    .left {
                        margin-top: 25px;
                    }
                }
            }
            .personal-page {
                padding-top: 80px;
                .page-content {
                    display: block;
                    .fields {
                        .two-fields {
                            display: block;
                        }
                        .input {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    footer {
        .columns {
            li {
                .form {
                    display: block;
                    .btn {
                        margin-top: 15px;
                    }
                }
            }
            .social {
                a {
                    margin-left: 15px;
                }
            }
        }
    }
    nav {
        .container-fluid {
            .search-input {
                .form-control {
                    width: 100%;
                    margin-top: 15px;
                }
            }
        }
    }
}

@media all and (max-width: 540px) {
    nav {
        .container-fluid {
            .search-input {
                margin-right: 0;
                margin: 15px 0;
            }
        }
    }
    .topbar {
        .row {
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }
        font-size: 0;
        i {
            display: block;
            font-size: 15px;
        }
        .about {
            font-size: 12px;
            margin-left: 28px;
        }
        .social {
            a {
                margin-right: 18px;
            }
        }
    }
    header.scrolled {
        .logo {
            margin: 0;
            display: none;
        }
        .container-fluid.d-flex {
            display: block !important;
        }
    }
}

@media all and (max-width: 414px) {
    header.scrolled {
        .logo {
            display: none;
            margin: 0;
            display: none;
        }
        .container-fluid.d-flex {
            display: block !important;
            display: block !important;
        }
    }
    .left-side.col-md-4 {
        display: block;
    }
    .topbar {
        .row {
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }
        font-size: 0;
        i {
            display: block;
            font-size: 15px;
        }
        .about {
            font-size: 12px;
            margin-left: 28px;
        }
        .social {
            a {
                margin-right: 18px;
            }
        }
    }
    header {
        nav {
            .container-fluid {
                .search-input {
                    margin: 0;
                    margin-top: 15px;
                }
            }
        }
    }
    main {
        .block {
            .has-sides {
                .right-side {
                    .grid-container {
                        .grid-item {
                            width: 100%;
                        }
                    }
                }
            }
            .archives {
                padding-top: 55px;
            }
            .contact-us {
                .contact-form {
                    padding: 30px;
                }
                .left {
                    margin-top: 50px;
                }
            }
            .inside-paper {
                .container {
                    .right {
                        .paper {
                            .news-details {
                                p {
                                    width: 300px;
                                }
                            }
                        }
                    }
                    .has-sides {
                        display: block;
                    }
                }
            }
        }
    }
    nav {
        .container-fluid {
            .search-input {
                .form-control {
                    width: 100%;
                }
            }
        }
    }
}

@media all and (max-width: 375px) {
    body {
        padding-top: 184px;
    }
    header.scrolled {
        .container-fluid.d-flex {
            display: block !important;
        }
    }
    .topbar {
        .row {
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }
        font-size: 0;
        i {
            display: block;
            font-size: 15px;
        }
        .about {
            font-size: 12px;
            margin-left: 28px;
        }
        .social {
            a {
                margin-right: 18px;
            }
        }
    }
    header {
        .logo {
            margin: 0;
        }
        nav {
            .container-fluid {
                .search-input {
                    margin: 0;
                    margin-top: 15px;
                }
            }
        }
    }
    main {
        .block {
            .main-post__title {
                font-size: 15px;
            }
            .carousel {
                .main-post {
                    video {
                        width: auto;
                        max-width: auto;
                    }
                }
                height: 465px;
            }
            .has-sides {
                .left-side {
                    .advertise {
                        .advertise-content {
                            transform: translate(-50%, -50%);
                        }
                    }
                    .cards {
                        .card {
                            a {
                                display: block;
                                text-align: -webkit-center;
                                .card-content {
                                    .card-heading {
                                        margin: 15px 0;
                                    }
                                }
                            }
                        }
                    }
                }
                .right-side {
                    .grid-container {
                        .grid-item {
                            .grid-content {
                                p {
                                    word-break: break-word;
                                }
                            }
                        }
                    }
                    .slider {
                        width: 100%;
                    }
                }
            }
            .progress-bar {
                top: unset;
                bottom: 25px;
                width: 300px;
                left: 0;
                right: 0;
                margin: 0 auto;
            }
            .main-post__content {
                bottom: 8%;
            }
            .archives {
                padding-top: 130px;
                .grid-item {
                    .news-details {
                        p {
                            font-size: 16px;
                            padding: 8px 0;
                            width: 215px;
                        }
                    }
                }
                figure {
                    width: auto;
                }
            }
            .grid {
                .grid-container {
                    .grid-item {
                        width: 335px;
                        margin: 0 auto;
                    }
                }
            }
            .inside-paper {
                .container {
                    .right {
                        .paper {
                            display: block;
                            .news-details {
                                margin-top: 15px;
                                p {
                                    width: auto;
                                    margin: 0 auto;
                                }
                            }
                        }
                    }
                }
            }
            .personal-page {
                .page-content {
                    padding: 30px;
                    .changeable {
                        .image-upload {
                            display: block;
                            text-align: center;
                            .btn {
                                margin: 0;
                                margin-top: 15px;
                            }
                        }
                    }
                    .buttons {
                        .black-btn {
                            width: 100%;
                        }
                    }
                }
            }
            .article {
                .article-heading {
                    h2 {
                        font-size: 25px;
                    }
                }
            }
            .two-columns {
                .cards {
                    .card {
                        a {
                            display: block;
                            text-align: center;
                            .card-content {
                                .card-heading {
                                    margin-top: 20px;
                                }
                            }
                        }
                    }
                }
            }
            .lastest {
                .container {
                    .right {
                        .newspaper {
                            .news-details {
                                h4 {
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                }
            }
            .contact-us {
                .contact-form {
                    padding: 30px;
                }
                .left {
                    margin-top: 50px;
                }
            }
            .sign-in {
                .sign-forms {
                    .buttons {
                        flex-direction: column;
                    }
                }
            }
        }
    }
    .paragraph {
        p {
            font-size: 18px;
        }
    }
    .pagination {
        overflow: auto;
        width: 335px;
    }
    footer {
        .columns {
            li {
                .form {
                    .form-group {
                        .form-control {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: 320px) {
    main {
        .block {
            .lastest {
                .container {
                    .left {
                        .buttons {
                            .black-btn {
                                width: 100%;
                            }
                            .white-btn {
                                width: 100%;
                            }
                        }
                    }
                    .right {
                        .newspaper {
                            .news-details {
                                h4 {
                                    font-size: 16px;
                                }
                                p {
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                }
            }
            .progress-bar {
                width: 200px;
            }
            .inside-paper {
                .container {
                    .left {
                        .buttons {
                            .black-btn {
                                width: 100%;
                            }
                        }
                    }
                }
            }
            .grid {
                .grid-container {
                    .grid-item {
                        width: auto;
                    }
                }
            }
            .article {
                padding: 40px;
                .comments-section {
                    .comment-field {
                        display: block;
                        .input {
                            margin: 25px 0;
                            padding: 5px;
                        }
                    }
                }
            }
        }
    }
    nav {
        .container-fluid {
            .search-input {
                .form-control {
                    width: 100%;
                }
            }
        }
    }
    footer {
        .columns {
            li {
                .form {
                    .form-group {
                        .form-control {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    .btn-danger {
        margin-right: 0;
    }
}

@media all and (max-width: 280px) {
    main {
        .block {
            .about-us {
                .about-content {
                    padding: 40px 20px;
                }
            }
            .has-sides {
                .right-side {
                    width: 100%;
                }
            }
            .lastest {
                .container {
                    .left {
                        .buttons {
                            .white-btn {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
    .paragraph {
        p {
            font-size: 18px;
        }
    }
    footer {
        .columns {
            li {
                .form {
                    .form-group {
                        .form-control {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}